@page { size: auto ; margin: 0;}
@media print { html,body { width: 6.7in; }}
html { background: #eee; }
body { height: 100%; width: 100%; margin: 0;}
.mycard { width: 6.7in; position: relative; background: #fff;}
.nocustomer { position: absolute; right: 180px; top: 172px; width: 400px; padding: 0px; text-align:right; color:black; font-weight:bold; font-size:25px;}
.nama {position: absolute; right: 180px; top: 214px; width: 400px; padding: 0px; text-align:right; color:black; font-weight:bold; font-size:25px;}
.since {position: absolute; right: 244px; top: 250px; width: 400px; padding: 0px; text-align:right; color:black; font-weight:bold; font-size:16px;}
.valid {position: absolute; right: 160px; top: 250px; width: 400px; padding: 0px; text-align:right; color:black; font-weight:bold; font-size:16px;}
.barcode{position: absolute;  left: 14px; top: 255px;}