html { background: #eee; }
body { margin: 0;}
.MemberCardForm_PhotoPreview { width: 385px; height:239px; position: absolute; }
.nocustomer { position: absolute; left: 20px; top: 122px; width: 400px; padding: 0px; text-align:left; color:black; font-weight:bold; font-size:18px;}
.nama {position: absolute; left: 20px; top: 100px; width: 400px; padding: 0px; text-align:left; color:black; font-weight:bold; font-size:18px;}
/*.since {position: absolute; right: 100px; top: 180px; width: 400px; padding: 0px; text-align:right; color:black; font-weight:bold; font-size:12px;}
.valid {position: absolute; right: 20px; top: 180px; width: 400px; padding: 0px; text-align:right; color:black; font-weight:bold; font-size:12px;}
.barcode{position: absolute;  left: 14px; top: 15px;}*/
.rectangle {
    position: absolute;
    height: 60px;
    width: 150px;
    background-color: #555;
    left: 18px; top: 165px;
}