@page { size: auto ; margin: 0;}
@media print { html,body { width: 6.7in; }}
html { background: #eee; }
body { height: 100%; width: 100%; margin: 0;}
.mycard {width: 6.7in; position: relative; background: #fff;}
.nocustomer { position: absolute; right: 165px; top: 152px; width: 400px; padding: 0px; text-align:right; color:black; font-weight:bold; font-size:25px;}
.nama {position: absolute; right: 165px; top: 180px; width: 400px; padding: 0px; text-align:right; color:black; font-weight:bold; font-size:25px;}
.since {position: absolute; right: 274px; top: 257px; width: 400px; padding: 0px; text-align:right; color:black; font-weight:bold; font-size:16px;}
.valid {position: absolute; right: 190px; top: 257px; width: 400px; padding: 0px; text-align:right; color:black; font-weight:bold; font-size:16px;}
.barcode{position: absolute;  right: 168px; top: 100px;}