html { background: #eee; }
body { margin: 0;}
.MemberCardForm_PhotoPreview { width: 385px; height:239px; position: absolute; }
.nocustomer { position: absolute; right: 20px; top: 120px; width: 400px; padding: 0px; text-align:right; color:black; font-weight:bold; font-size:18px;}
.nama {position: absolute; right: 20px; top: 142px; width: 400px; padding: 0px; text-align:right; color:black; font-weight:bold; font-size:18px;}
.since {position: absolute; right: 100px; top: 203px; width: 400px; padding: 0px; text-align:right; color:black; font-weight:bold; font-size:12px;}
.valid {position: absolute; right: 27px; top: 203px; width: 400px; padding: 0px; text-align:right; color:black; font-weight:bold; font-size:12px;}
.barcode{position: absolute;  left: 14px; top: 15px;}
.rectangle {
    position: absolute;
    height: 34px;
    width: 170px;
    background-color: #555;
    right: 20px; top: 80px;
}