#productPic_wrap {
    cursor: pointer;
    position: relative;
    width: 120px;
    height: 100px;
}
    #productPic_panel img{
        max-width: 100%;
        height: auto;
        margin: auto;
	display: block;
    }
    
    #productPic_text {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 120px;
        height: 100px;
        /*left: 0;*/
        /*right: 0;*/
        background: rgba(195, 195, 195, 0.5);
        visibility: hidden;
        opacity: 0;
        
        text-align: center;
        padding-top: 30px;
        
        /* transition effect. not necessary */
        transition: opacity .2s, visibility .2s;
    }
        #productPic_text span{
            display: block;
            color: black;
            font-weight: bold;
            background: rgba(255, 230, 0, 0.6);
            padding: 3px;
        }
    
    #productPic_panel:hover #productPic_text {
        visibility: visible;
        opacity: 1;
    }

/* 
    CSS buat POS
*/

.pos {
    font-family: "Lato","Lucida Grande", Helvetica, Verdana, Arial;
    color: #555555;
    font-size: 12px;
    cursor: default;
    user-select: none;
    text-shadow: none;
}

/*
    Header
*/
.posHeaderTop {
    border-bottom: 1px solid #CCC;
    background-color: #393939;
    user-select: none;
}

/*
    Header Top Left
*/
.posHeaderTopLeft {
    border: none;
    height: 100%;
    width: 100%;
    padding: 10px 5x 5px 10px;
}

.posHeaderTopLeft td {
    height: 100%;
    color: #ddd;
    font-family: Arial,Helvetica,sans-serif;
}
.posHeaderTopLeft td:first-child {
    vertical-align: middle;
}

.posHeaderTopLeft td img {
    margin-top: 2px;
    display: inline;
    height: 40px;
    width: auto;
}

.posHeaderTopLeft td:nth-child(2) {
    vertical-align: middle;
    font-size: 24px;
    font-weight: bold;
    color: #E64152;
    white-space: nowrap;
}

.posHeaderTopLeft td:last-child {
    width: 100%;
    vertical-align: middle;
    padding-right: 10px;
    overflow: hidden;
    text-align: right;
    font-size: 14px;
    font-style: italic;
}

/*
    Header Top Right
*/
.posHeaderTopRight table {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    border-left: 1px solid #292929;
    cursor: pointer;
    user-select: none;
}

    .posHeaderTopRight.confirmClose table {
        background-color: #5CB937;
    }
    .posHeaderTopRight.confirmClose td {
        font-weight: bold;
    }
    
    .posHeaderTopRight td {
        font-size: 12px;
        color: #ddd;
        font-family: Arial,Helvetica,sans-serif;
    }

    .posHeaderTopRight.notConfirmClose table:hover {
        background-color: #EB6F7B;
        border-left: 1px solid #292929;
        color: black;
    }

/*
    Untuk tpl Ext.DataView
    khusus ActiveOrder/Queue 
*/
.PosOrderQueueDataView {
    background: none;
    overflow: hidden;
    user-select: none;
}

.PosOrderQueueDataView ul {
    position: relative;
    display: inline-block;
    height: 100%;
    overflow: hidden;
}

.PosOrderQueueDataView ul li {
    float: left;
    
    color: #f0f0f0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 46px;
    padding: 4px 8px;
    margin: 3px;
    margin-bottom: 0px;
    margin-right: 2px;
    padding-top: 5px;
    background: #8b8b8b;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    vertical-align: top;
    line-height: 42px;
    text-align: center;
    box-shadow: 0px -5px 10px -6px rgb(82,82,82) inset;
    cursor: pointer;
    min-width: 45px;
    
    font-family: "Lato","Lucida Grande", Helvetica, Verdana, Arial;
}

    .PosOrderQueueDataView ul li.PosOrderQueueDataViewItem{
        position: relative;
    }
    
    .PosOrderQueueDataView ul li.PosOrderQueueDataViewItem:first-child{
        margin-left: 0px;
    }

    .PosOrderQueueDataView ul li.PosOrderQueueDataViewItem .split-char{
        position: absolute;
        display: block;
        float: right;
        top: 2px;
        right: 2px;
        vertical-align: top;
        color: white;
        line-height: 13px;
        background: #7f82ac;
        padding: 2px 5px;
        border-radius: 3px;
    }

.PosOrderQueueDataView ul li.PosOrderQueueDataViewItem.floor-button {
    background: #6EC89B;
    font-weight: bold;
    font-size: 16px;
    min-width: 128px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: "Lato","Lucida Grande", Helvetica, Verdana, Arial;
}
    .PosOrderQueueDataView ul li.PosOrderQueueDataViewItem.floor-button .table-name {
        font-weight: normal;
        color: #f0f0f0;
        font-size: 16px;
        font-family: "Lato","Lucida Grande", Helvetica, Verdana, Arial;
    }
    
.PosOrderQueueDataView ul li.x-view-selected,
.PosOrderQueueDataView ul li.PosOrderQueueDataViewItem.selected {
    background: #EEEEEE;
    color: rgb(75,75,75);
    border-bottom: solid 1px rgb(196, 196, 196);
    box-shadow: none;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    
    line-height: 42px;
    font-weight: bold;
    font-size: 12px;
}
    .PosOrderQueueDataView ul li.x-view-selected .order-sequence,
    .PosOrderQueueDataView ul li.PosOrderQueueDataViewItem.selected .order-sequence{
        color: white;
        font-size: 16px;
        font-family: "Lato","Lucida Grande", Helvetica, Verdana, Arial;
        font-weight: bold;
        
        background: black;
        display: inline-block;
        line-height: 24px;
        min-width: 24px;
        border-radius: 12px;
        margin-right: 4px;
        margin-left: -4px;
    }
    .PosOrderQueueDataView ul li .order-sequence,
    .PosOrderQueueDataView ul li.PosOrderQueueDataViewItem .order-sequence{
        color: #f0f0f0;
        font-size: 16px;
        font-family: "Lato","Lucida Grande", Helvetica, Verdana, Arial;
        font-weight: bold;
    }
    
.PosOrderQueueDataView ul li.PosOrderQueueDataViewItem.neworder-button {
    font-weight: bolder;
    font-size: 30px;
    line-height: 45px;
    color: #6EC89B;
    background-color: #5C5C5C;
    padding-top: 0px;
}
.PosOrderQueueDataView ul li.PosOrderQueueDataViewItem.deleteorder-button {
    font-weight: bolder;
    font-size: 20px;
    line-height: 45px;
    color: #EB6F7B;
    background-color: #5C5C5C;
    padding-top: 2px;
}


/*
    Untuk tpl Ext.DataView
    Floor Plan
*/
.posDataView {
    background-color: #fff;
    text-shadow: #fff 0 1px 0;
    user-select: none;
}

.posDataView ul {
    position: relative;
    display: block;
    height: auto;
    /*font-size: 85%;*/
}

.posDataView ul li img {
    margin-bottom: 1px;
}

.posDataView ul li {
    float: left;
    padding: 8px 17px;
    margin: 5px;
/*    margin: 10px 0 0 25px;*/
    /*line-height: 1.25em;*/
    /*color: #333;*/
    /*font-family: "Helvetica Neue",sans-serif;*/
    /*height: 113px;*/
    /*width: 112px;*/
    overflow: hidden;
    border: 1px solid transparent;
    cursor: pointer;
}
    .posDataView ul li.activeOrder {
        background-color: #FFDCDC;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
    }

.posDataView ul li.posDataViewItem-hover {
    background-color: #eee;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
    .posDataView ul li.posDataViewItem-hover.activeOrder {
        background-color: #FFBDBD;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
    }

.posDataView ul li:active {
    background-color: rgba(100, 100, 100, .15);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-top: 1px solid rgba(0, 0, 0, .15);
    border-left: 1px solid rgba(0, 0, 0, .15);

}

.posDataView ul li.x-view-selected {
    background-color: rgba(100, 100, 100, .15);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.posDataView ul li img {
    display: block;
}

.posDataView li strong {
    color: #000;
    display: block;
}

.posDataView li span {
    color: #999;
}


/*
    Untuk tpl Ext.DataView
    Product
*/
.posPickProductDataView {
    background-color: #F0EEEE;
    user-select: none;
    text-shadow: none;
}

.posPickProductDataView ul {
    position: relative;
    display: block;
    height: auto;
}

.posPickProductDataView ul li {
    background-color: #FFF;
    float: left;
    height: 115px;
    width: 120px;
    overflow: hidden;
    border: 1px solid #E2E2E2;
    cursor: pointer;
    margin: 8px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

    .posPickProductDataView ul li.product {
        position: relative;
        vertical-align: top;
        line-height: 100px;
        font-size: 11px;
        text-align: left;
        /*font-family: "Lato","Lucida Grande", Helvetica, Verdana, Arial;*/
        color: #555555;
    }

        .posPickProductDataView ul li.product .product-img {
            position: relative;
            width: 120px;
            height: 100px;
            background: white;
            text-align: center;
        }
            .posPickProductDataView ul li.product .product-img img {
                max-height: 100px;
                max-width: 120px;
                vertical-align: middle;
            }

            .posPickProductDataView ul li.product .price-tag {
                position: absolute;
                top: 2px;
                right: 2px;
                vertical-align: top;
                color: white;
                line-height: 13px;
                background: #7f82ac;
                padding: 2px 5px;
                border-radius: 2px;
            }

        .posPickProductDataView ul li.product .product-name {
            position: absolute;
            box-sizing: border-box;
            bottom: 0;
            top: auto;
            line-height: 14px;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 3px;
            padding-top: 15px;
            text-shadow: 0 0 6px #FFFFFF;
        }
        
    .posPickProductDataView ul li.category {
        position: relative;
        line-height: 120px;
        text-align: center;
        overflow-wrap: normal;
        padding: 3px;
        
        box-shadow:
            /* The top layer shadow 
            0 1px 1px -1px rgba(0,0,0,0.15),*/
            /* The second layer */
            5px 5px 0 -3px #fff,
            /* The second layer shadow */
            5px 5px 1px -3px rgba(0,0,0,0.5),
             /* The third layer */
            8px 8px 0 -3px #fff,
            /* The third layer shadow */
            8px 8px 1px -3px rgba(0,0,0,0.5);
            /* Padding for demo purposes */
    }
        .posPickProductDataView ul li.category span {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            font-weight: bold;
            font-size: 14px;
        }
    
    .posPickProductDataView ul li.modifierfood {
        position: relative;
        line-height: 120px;
        text-align: center;
        overflow-wrap: normal;
        padding: 3px;
        
        box-shadow:
            /* The top layer shadow */
            0 1px 1px -1px rgba(0,0,0,0.15),
            /* The second layer */
            5px 5px 0 -3px #fff,
            /* The second layer shadow */
            5px 5px 1px -3px rgba(0,0,0,0.5),
             /* The third layer */
            8px 8px 0 -3px #fff,
            /* The third layer shadow */
            8px 8px 1px -3px rgba(0,0,0,0.5);
            /* Padding for demo purposes */
    }
        .posPickProductDataView ul li.modifierfood span {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            font-weight: bold;
            font-size: 14px;
        }
        
/*
    OrderNoteDataView
*/
.orderNoteDataView {
    background-color: #FFF;
    user-select: none;
    text-shadow: none;
}

.orderNoteDataView ul {
    position: relative;
    display: block;
    height: auto;
}

.orderNoteDataView ul li {
    background-color: #FFF;
    float: left;
    height: auto;
    min-height: 40px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #E2E2E2;
    cursor: pointer;
    margin: 0;
    vertical-align: middle;
}
    .orderNoteDataView ul li:hover {
        background-color: #F1F2F4;
    }
    .orderNoteDataView ul li span {
        padding: 3px;
        font-style: italic;
    }

    
/*
    CancelItemDataView / VOID item
*/
.cancelItemDataView {
    background-color: #FFF;
    user-select: none;
    text-shadow: none;
}

.cancelItemDataView ul {
    position: relative;
    display: block;
    height: auto;
}

.cancelItemDataView ul li {
    background-color: #FFF;
    float: left;
    height: auto;
    min-height: 40px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #E2E2E2;
    cursor: pointer;
    margin: 0;
    vertical-align: middle;
}
    .cancelItemDataView ul li:hover {
        background-color: #FFBDBD;
    }
    .cancelItemDataView ul li.item_to_delete {
        background-color: #FC9090;
    }
    
/*
    ==========================================
*/
.posPickProductPanel {
    border-left: 1px solid #D0D0D0;
}
.rounded.x-form-text  {
    border-radius: 15px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.pos-btn { display: inline-block; margin-bottom: 0; font-weight: normal; text-align: center; vertical-align: middle; touch-action: manipulation; cursor: pointer; background-image: none; border: 1px solid transparent; white-space: nowrap; padding: 6px 12px; font-size: 13px; line-height: 1.42857143; border-radius: 4px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
    .pos-btn-primary { color: white; background-color: #7c7bad; border-color: #7c7bad; }
        .pos-pos-btn-primary:focus, .pos-btn-primary.focus {color: white; background-color: #5f5e97; border-color: #414168;}
        .pos-btn-primary:hover{color: white; background-color: #5f5e97; border-color: #5b5a91;}
        .pos-btn-primary:active, .pos-btn-primary.active {color: white; background-color: #5f5e97; border-color: #5b5a91;}
    .pos-btn-default { color: #4c4c4c; background-color: white; border-color: #cccccc;}
        .pos-btn-default:focus, .pos-btn-default.focus{color: #4c4c4c; background-color: #e6e6e6; border-color: #8c8c8c;}
        .pos-btn-default:hover{color: #4c4c4c; background-color: #e6e6e6; border-color: #adadad;}
        .pos-btn-default:active, .pos-btn-default.active{color: #4c4c4c; background-color: #e6e6e6; border-color: #adadad;}

/*
    Kanban POS
*/

.posSessionDataView {
    background-color: #F0EEEE;
    user-select: none;
    text-shadow: none;
}
    .posSessionDataView div {
        display: block;
        box-sizing: border-box;
    }
    .posSessionDataView a {
        text-decoration: none;
        background-color: transparent;
    }

.posSessionDataView ul {
    position: relative;
    display: block;
    height: auto;
}

.posSessionDataView ul li {
    background-color: #FFF;
    float: left;
    width: 400px;
    height: 150px;
    overflow: hidden;
    border: 1px solid #E2E2E2;
    cursor: pointer;
    margin: 8px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

    .posSessionDataView .pos_session_record {
        display: flex;
        background-color: #e2e2e0;
        position: relative;
    }
        .posSessionDataView .pos_session_record .pos_session_header {
                flex: 3 0 0;
                padding: 8px 16px;
        }
            .posSessionDataView .pos_session_record .pos_session_header .title {
                    flex: 3 0 0;
                    padding: 8px 16px;
            }
                .posSessionDataView .pos_session_record .pos_session_header .title .primary {
                    font-size: 16px;
                    color: #7c7bad;
                    font-weight: 700;
                }
                .posSessionDataView .pos_session_record .pos_session_header .title .secondary {
                    
                }
            .posSessionDataView .pos_session_record .pos_session_header .button_section {
                flex: 1 0 0;
                padding: 16px;
            }
                .posSessionDataView .pos_session_record .pos_session_header .button_section .toggle_button{
                    text-align: right;
                    color: #7c7bad;
                    
                    display: block;
                    max-width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    vertical-align: top;
                    position: relative;
                }

                
/*
    The ribbons 
 */

.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Custom styles */

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Size */

.corner-ribbon.tiny{
  top: 8px !important;
  left: -82px !important;
  line-height: 15px;
  font-size: 9px;
}

.corner-ribbon.small{
  top: 10px !important;
  left: -80px !important;
  line-height: 20px;
}

/* Different positions */

.corner-ribbon.top-left{
  top: 25px;
  right: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left{
  top: auto;
  bottom: 25px;
  left: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-right{
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Colors */

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}



/* KITCHEN/BAR */
.fontArial {
    font-family: Arial, Helvetica, sans-serif;
}
.kitchen_bold {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:24px;
    padding-top: 5px;
    display: inline-block;
}
.kitchen_normal {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:12px;
    padding-top: 8px;
    display: inline-block;
}


/*
    ANIMATION
 */
.blink_text {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0; }
}