/*a
{
    text-decoration: none;
    color: #000000;
}*/

i
{
    cursor: pointer;
}

i:hover:before
{
    color:#FF1F1F;
}

a:hover
{
    font-weight: bold;
}

br
{
    clear: both;
}

body
{
    width: 100%;
    height: 100%;
    font-family: 'Candara';
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}

input
{
    font-family: 'Candara';
    font-size: 13px;
}

input[type="text"], select
{
    margin: 4px 5px;
    font-size: 13px;
}

input[type="password"]
{
    margin: 4px 5px;
    font-size: 13px;
}

textarea
{
    font-family: 'Candara';
    font-size: 13px;
    margin: 10px 5px;
}

i[class^="icon-"]:hover 
{ 
    color: #ff0000;
}

hr
{
    padding: 0px;
    margin: 0px;
}

.header_menu
{
    font-size:16px;
    text-decoration: underline;
    padding: 10px 0px;
}

.header
{
    width: 100%;
    display: table;
    position: relative;
}

.konten
{
    width: 85%;
    margin: 0 auto;
}

.judul
{
    font-size: 20px;
    margin: 20px auto;
    text-align: center;
}

.logo
{
    float: left;
    height: 150px;
    width: 400px;
    margin-top: 10px;
}

.login
{
    text-align: center;
    display: table;
    margin: 0 auto;
}

.application
{
    float: left;
    width: 100%;
    min-height: 500px;
}

.label
{
    width: 200px;
    margin: 4px 0px;
    padding: 0px 2px;
    float: left;
}


.home
{
    /**
 * position: absolute;
 */
    width: 40px;
}
.icon_home
{bottom: 0;
    display: block;
    float: right;
    padding-right: 20px;
    right: 0;
}


.menu
{
    width: 100%;
    min-height: 500px;
    margin-top: 40px;
}

.icon
{
    display: table-cell;
    height: 60px;
    padding: 20px 20px;
}

.icon p
{
    display: inline-block;
    text-align: center;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: #000000;
}

.icon a
{
    height: 100%;
    width: 100%;
    display: block;
}

.icon a img
{
    height: 100%;
    width: 100%;
    height: 60px;
}

.float_right
{
    float: right;
}

.float_left
{
    float: left;
}

.label
{
    float: left;
    width: 150px;
    margin:4px 2px;
    text-align: left;
}

.beside
{
    display: inline-block;
}









.footer
{
    width: 100%;
    text-align: center;
}






















.full
{
    width:100%;
}

.half
{
    width: 50%;
}

.text_right
{
    text-align: right;
}

.text_center
{
    text-align: center;
}




.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('../img/FhHRx.gif')
    50% 50%
    no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}