/* CSS Document */

table
{
    table-layout: fixed;
    margin-top: 15px;
}

table,td
{
	border-collapse      : collapse;
  font                 : small/1.5 "Tahoma", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
}
table tr td
{
	border-right		: 1px solid #000;
}
table tr td:last-child
{
	border-right:0 none;
    text-align: right;
}

thead tr:first-child
{
    border-bottom: 1px solid #FFFFFF;
}

thead tr th:last-child
{
	border-right:0 none;
    border-bottom: 0 none;
}

thead th,
tbody th
{
	background            : #ef459f;
  color                 : #FFF;  
	padding               : 5px 10px;
  border-right			: 1px solid #FFF;
}
tbody th
{
  border-bottom           : 1px dashed #FFF;
  background            : #ef459f;
  text-align            : left;
  font-weight           : bold;
}
tbody tr td
{
	padding               : 5px 10px;
  color                 : #000;
  
}
tbody tr:hover
{
    background-color: #D4D4D4;
    color: #BD1D79;
}

tbody tr:hover td
{
    background-color: #D4D4D4;
    color: #BD1D79;
}
tfoot td,
tfoot th
{
  border-left           : none;
  border-top            : 1px solid #CCC;
	padding               : 4px;
  background            : #FFF;
  color                 : #000;
}
caption
{
	text-align            : left;
	font-size             : 120%;
	padding               : 10px 0;
	color                 : #666;
}
table a:link
{
	color                 : #FFF;
	text-decoration:none;
}
table a:visited
{
	color                 : #666;
}
table a:hover
{
	color                 : #003366;
	text-decoration       : none;
}
table a:active
{
	color                 : #003366;
}

tr:nth-child(odd) { background-color: #EDEFFF; }